<tr>
  	<td><%=h stat.user.username %></td>
    <td><%=h stat.scanners %></td>
    <td><%=h stat.video %></td>
    <td><%=h stat.macs %></td>
    <td><%=h stat.sa_short %></td>
    <td><%=h stat.sa_long %></td>
    <td><%=h stat.gu %></td>
    <td><%=h stat.ll %></td>
    <td><%=h stat.ref %></td>
    <td><%= check_box_tag("has_comment", 'yes', (stat.comment != ""), {:disabled => "true"}) %></td>
    <td><%=h stat.date %></td>
	<td class="time_col"><%=h stat.time %></td>
    <td><%=h stat.total%></td>
	<td><%=h stat.eod_door%></td>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>