<h1>Editing stat</h1>

<% form_for(@stat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :GU %><br />
    <%= f.text_field :GU %>
  </p>
  <p>
    <%= f.label :SA_Long %><br />
    <%= f.text_field :SA_Long %>
  </p>
  <p>
    <%= f.label :SA_Short %><br />
    <%= f.text_field :SA_Short %>
  </p>
  <p>
    <%= f.label :Macs %><br />
    <%= f.text_field :Macs %>
  </p>
  <p>
    <%= f.label :Scanners %><br />
    <%= f.text_field :Scanners %>
  </p>
  <p>
    <%= f.label :LL %><br />
    <%= f.text_field :LL %>
  </p>
  <p>
    <%= f.label :Video %><br />
    <%= f.text_field :Video %>
  </p>
  <p>
    <%= f.label :User %><br />
    <%= f.text_field :User %>
  </p>
  <p>
    <%= f.label :Comment %><br />
    <%= f.text_area :Comment %>
  </p>
  <p>
    <%= f.label :Slot %><br />
    <%= f.datetime_select :Slot %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @stat %> |
<%= link_to 'Back', stats_path %>