<h1>Listing stats for <%=@date%></h1>

<table border=1 id="stat_list">
  <tr>
  	<th>User</th>
    <th>Scanners</th>
    <th>Video Editing</th>
    <th>Macs</th>
    <th>SA Short</th>
    <th>SA Long</th>
    <th>General Use</th>
    <th>Language Lab</th>
	<th>Reference Area</th>
    <th>Comment</th>
    <th>Date</th>
	<th>Time</th>
	<th>EOD Door</th>
  </tr>

<% @stats.each do |stat| %>
  <%= render :partial => 'stat_row', :locals => {:stat => stat} %>
<% end %>
</table>

<br />
<h2>Computer Commons Statistics</h2>

<% form_remote_for(@stat) do |f| %>
  <%= f.error_messages %>
  <table border=1>
	<tr><td><%= f.label "User Name" %></td><td><%= current_user %></td></tr>
	<tr><td><%= f.label :scanners %></td><td> <%= f.text_field :scanners, {:value => 0, :onchange => 'update_total()'} %></td></tr>
	<tr><td><%= f.label :video %></td><td><%= f.text_field :video, {:value => 0, :onchange => 'update_total()'} %></td></tr>
	<tr><td><%= f.label :macs %></td><td><%= f.text_field :macs, {:value => 0, :onchange => 'update_total()'} %></tr>
	<tr><td><%= f.label :sa_short %></td><td><%= f.text_field :sa_short, {:value => 0, :onchange => 'update_total()'} %></tr>
	<tr><td><%= f.label :sa_long %></td><td><%= f.text_field :sa_long, {:value => 0, :onchange => 'update_total()'} %></tr>
  	<tr><td><%= f.label "General Use"%></td><td><%= f.text_field :gu, {:value => 0, :onchange => 'update_total()'} %></td></tr>
	<tr><td><%= f.label "Language Lab" %></td><td><%= f.text_field :ll, {:value => 0, :onchange => 'update_total()'} %></td></tr>
	<tr><td><%= f.label :ref %></td><td><%= f.text_field :ref, {:value => 0, :onchange => 'update_total()'} %></td></tr>
	<tr><td><%= f.label :comment %></td><td><%= f.text_area :comment %></td></tr>
	<tr><td><%= f.label :date %></td><td><%= f.date_select :date%></td></tr>  
	<tr><td><%= f.label :time %></td><td><%= select("stat", "time", options_for_select(TIME_SLOTS, @now), :onchange => 'check_times()')%></td></tr>
	<tr><td><%= f.label :door_counter%>(Only for end of the day!)</td><td><%= f.text_field :eod_door%></td></tr>
	<tr><td><%= f.label "Total"%></td><td><input id="stat_total" value=0 readonly="readonly"></td></tr>
	<tr style="text-align: center;"><td colspan = 2 style="text-align: center;">&nbsp;<%= f.submit 'Create' %></td></tr>
  </table>
<% end %>

