<h1>Listing stats</h1>

<table border=1>
  <tr>
  	<th>User</th>
    <th>Scanners</th>
    <th>Video Editing</th>
    <th>Macs</th>
    <th>SA_Short</th>
    <th>SA_Long</th>
    <th>General Use</th>
    <th>Language Lab</th>
    <th>Comment</th>
    <th>Date</th>
	<th>Time</th>
  </tr>

<% @stats.each do |stat| %>
  <tr>
  	<td><%=h stat.user %></td>
    <td><%=h stat.scanners %></td>
    <td><%=h stat.video %></td>
    <td><%=h stat.macs %></td>
    <td><%=h stat.sa_short %></td>
    <td><%=h stat.sa_long %></td>
    <td><%=h stat.gu %></td>
    <td><%=h stat.ll %></td>
    <td><%=h stat.comment %></td>
    <td><%=h stat.date %></td>
	<td><%=h stat.time %></td>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stat', new_stat_path %>