<h1>New stat</h1>

<% form_for(@stat) do |f| %>
  <%= f.error_messages %>
<div style="float: left;">
  <p>
    <%= f.label :user %>: <%= current_user %>
  </p>
  <p>
    <%= f.label :gu %>: <%= f.text_field :gu %>
  </p>
  <p>
    <%= f.label :sa_long %>: <%= f.text_field :sa_long %>
  </p>
  <p>
    <%= f.label :sa_short %>: <%= f.text_field :sa_short %>
  </p>
  <p>
    <%= f.label :macs %>: <%= f.text_field :Macs %>
  </p>
  <p>
    <%= f.label :scanners %>: <%= f.text_field :scanners %>
  </p>
  </div>
  <div style="float:left;">
  <p>
    <%= f.label :ll %>: <%= f.text_field :ll %>
  </p>
  <p>
    <%= f.label :video %>: <%= f.text_field :video %>
  </p>

  <p>
    <%= f.label :comment %>: <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.label :date %>: <%= f.date_select :dlot%> 
  </p>  
  <p>
    <%= f.label :time %>: <%= %> 
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  </div>
<% end %>

<%= link_to 'Back', stats_path %>