<p>
  <b>Gu:</b>
  <%=h @stat.GU %>
</p>

<p>
  <b>Sa long:</b>
  <%=h @stat.SA_Long %>
</p>

<p>
  <b>Sa short:</b>
  <%=h @stat.SA_Short %>
</p>

<p>
  <b>Macs:</b>
  <%=h @stat.Macs %>
</p>

<p>
  <b>Scanners:</b>
  <%=h @stat.Scanners %>
</p>

<p>
  <b>Ll:</b>
  <%=h @stat.LL %>
</p>

<p>
  <b>Video:</b>
  <%=h @stat.Video %>
</p>

<p>
  <b>User:</b>
  <%=h @stat.User %>
</p>

<p>
  <b>Comment:</b>
  <%=h @stat.Comment %>
</p>

<p>
  <b>Slot:</b>
  <%=h @stat.Slot %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>