<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stats: <%= controller.action_name %></title>
  <link href="https://serafina.labs.is.wccnet.org/templates/template.css" media="screen" rel="stylesheet" type="text/css" />
  <%# stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <script>
  	var numericExpression = /^[0-9]+$/;
	
  	function check_vals(el, max)
	{
		if (el.value == null || el.value == "")
			el.value = 0; 
		if (!(el.value.match(numericExpression)))
			el.value = 0;
		if (el.value < 0 || el.value > max )
		{
			el.value = 0;
            el.focus();
			alert("Improper value in " + el.name.match(/\[.*\]/)[0]);
			el.focus();
		}
	}
	
	function check_times()
	{
		var els = stat_list.getElementsByClassName("time_col");
		var stat_time = document.getElementById("stat_time");
		for (var i = 0; i < els.length; i++){
			if (els[i].innerHTML == stat_time.value) {
				alert("This time has already been recorded!");
				stat_time.value = stat_time.children[stat_time.selectedIndex + 1];
				stat_time.focus();
			}
		}
		
	}
	
	function update_total()
	{
		check_vals(document.getElementById("stat_scanners"), 2);
		check_vals(document.getElementById("stat_video"), 8);
		check_vals(document.getElementById("stat_macs"), 30);
		check_vals(document.getElementById("stat_sa_short"), 30);
		check_vals(document.getElementById("stat_sa_long"), 50);
		check_vals(document.getElementById("stat_gu"), 70);
		check_vals(document.getElementById("stat_ll"), 10);
		check_vals(document.getElementById("stat_ref"), 38);
        check_vals(document.getElementById("stat_ref"), 99999999);
		
		
		document.getElementById("stat_total").value = parseInt(document.getElementById("stat_scanners").value) + parseInt(document.getElementById("stat_video").value) +
			parseInt(document.getElementById("stat_macs").value) + parseInt(document.getElementById("stat_sa_short").value) + parseInt(document.getElementById("stat_sa_long").value) + 
			parseInt(document.getElementById("stat_gu").value) + parseInt(document.getElementById("stat_ll").value) + parseInt(document.getElementById("stat_ref").value); 
	}
</script>
</head>
<body style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/page_t.jpg')">
<div id="art-page-background-gradient" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/page_g.jpg')"></div>
<div id="art-page-background-glare">
  <div id="art-page-background-glare-image" style="background-image : url('https://serafina.labs.is.wccnet.org/templates/images/page_gl.png')"></div>
</div>
<div id="art-main">
  <div class="art-sheet">
    <div class="art-sheet-tl" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_s.png')"></div>
    <div class="art-sheet-tr" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_s.png')"></div>
    <div class="art-sheet-bl" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_s.png')"></div>
    <div class="art-sheet-br" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_s.png')"></div>
    <div class="art-sheet-tc" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_h.png')"></div>
    <div class="art-sheet-bc" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_h.png')"></div>
    <div class="art-sheet-cl" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_v.png')"></div>
    <div class="art-sheet-cr" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/sheet_v.png')"></div>
    <div class="art-sheet-cc"></div>
    <div class="art-sheet-body">
<!-- TOP BAR -->
      <div class="art-header">
        <div class="art-header-jpeg" style="background-image: url('https://serafina.labs.is.wccnet.org/templates/images/header.jpg')"></div>
        <div class="art-logo">
          <h1 id="name-text" class="art-logo-name">
            <a href="/index.php" title="The Computer Commons"></a>
          </h1>
          <div id="slogan-text" class="art-logo-text">Washtenaw Community College</div>
        </div>
      </div>
<!-- END TOP BAR -->
      <div class="art-content-layout">
        <div class="art-content-row">
          <!-- Start SIDE BAR -->
          <div class="art-layout-cell art-sidebar1">
            <div class="art-block">
              <div class="art-block-body">
                <div class="art-blockheader">
                  <div class="l"></div>
                  <div class="r"></div>
                  <div class="t"> Main Menu </div>
                </div>
                <div class="art-blockcontent">
                  <div class="art-blockcontent-body">
                    <ul class="menu">
                      <%= yield :main_menu %>
                    </ul>
                  </div>
                </div>
                <div class="cleared"></div>
              </div>
            </div>
            <div class="art-block">
              <div class="art-block-body">
                <div class="art-blockheader">
                  <div class="l"></div>
                  <div class="r"></div>
                  <div class="t"> User Menu </div>
                </div>
                <div class="art-blockcontent">
                  <div class="art-blockcontent-body">
                    <ul class="menu">
                      <%= yield :user_menu %>
                    </ul>
                  </div>
                </div>
                <div class="cleared"></div>
              </div>
            </div>
          </div>
          <!-- END SIDE BAR -->
          <div class="art-layout-call art-content">
            <%= yield %>
            <% if (current_user == "dpalay") -%>
                  <div id="debug">

                    <a href="#" onclick="Element.toggle('params_debug_info');return false;">
                        params
                      </a> |
                    <a href="#" onclick="Element.toggle('session_debug_info');return false;">
                      session
                    </a> |
                    <a href="#" onclick="Element.toggle('env_debug_info');return false;">
                      env
                    </a> |
                    <a href="#" onclick="Element.toggle('request_debug_info');return false;">
                      request
                    </a> |
                    <fieldset id="params_debug_info" class="debug_info">
                      <legend>params</legend>
                      <%= debug(params) %>
                    </fieldset>
                    <fieldset id="session_debug_info" class="debug_info" style="display: none;">
                      <legend>session</legend>
                      <%= debug(session) %>
                    </fieldset>
                    <fieldset id="env_debug_info" class="debug_info" style="display: none;">
                      <legend>env</legend>
                      <%= debug(request.env) %>
                    </fieldset>
                    <fieldset id="request_debug_info" class="debug_info" style="display: none;">
                      <legend>request</legend>
                      <%= debug(request) %>
                    </fieldset>
                  </div>
                <% end -%>
            <!-- END MAIN PANEL-->

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- SIDE BAR
<div class="moduletable_menu"> 
	<h3>Main Menu</h3> 
	<ul class="menu"><li id="current" class="active item1"><a href="https://serafina.labs.is.wccnet.org/"><span>Home</span></a></li>
	<li class="item73"><a href="/index.php?option=com_contact&amp;view=category&amp;catid=12&amp;Itemid=73"><span>Contacts</span></a></li>
	<li class="item75"><a href="/index.php?option=com_jpfchat&amp;Itemid=75"><span>Help Chat</span></a></li>
	<li class="item72"><a href="/order.php"><span>Order Supplies</span></a></li>
	</ul>
</div> 
<div class="moduletable_menu"> 
		<h3>User Menu</h3> 
		<ul class="menu">
			<li class="item77"><a href="http://www.atomiclearning.com/" target="_blank"><span>Atomic Learning</span></a></li>
			<li class="item70"><a href="/index.php?option=com_contact&amp;view=category&amp;catid=0&amp;Itemid=70"><span>Contacts</span></a></li>
			<li class="parent item56"><a href="/index.php?option=com_content&amp;view=article&amp;id=46&amp;Itemid=56"><span>Documents</span></a></li>
			<li class="item58"><a href="/index.php?option=com_kunena&amp;Itemid=58"><span>Forum</span></a></li>
			<li class="item20"><a href="/index.php?option=com_user&amp;view=user&amp;task=edit&amp;Itemid=20"><span>My Details</span></a></li>
			<li class="item53"><a href="/../schedule"><span>Schedule</span></a></li>
			<li class="item24"><a href="/index.php?option=com_user&amp;view=login&amp;Itemid=24"><span>Logout</span></a></li>
			</ul>
</div>
<% if admin? -%>
    <div class="moduletable_menu">
      <h3>Admin Menu</h3>
      <ul class="menu">
        <li><%= link_to "view today's stats", :controller => :stats, :action => :view, :date => {:year => Date.today.year, :month => Date.today.month, :day => Date.today.day } %></li>
        <% form_tag url_for(:controller => :stats, :action => :view), :method => "get" do -%>
          <%= text_field_tag 'date[year]', 'year'%>
          <%= text_field_tag 'date[month]', 'month'%>
          <%= text_field_tag 'date[day]', 'day'%>
        <%= submit_tag 'Find Stats' %>
        <% end -%>

      </ul>
</div>
<% end -%>
</div>
</div>

</div>        -->
</body>
</html>
