<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stats: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <script>
  	var numericExpression = /^[0-9]+$/;
  	function check_vals(el, max)
	{
		if (el.value == null || el.value == "")
			el.value = 0; 
		if (!(el.value.match(numericExpression)))
			el.value = 0;
		if (el.value < 0 || el.value > max )
		{
			el.value = 0;
			alert("Improper value in " + el.name.match(/\[.*\]/)[0]);
			el.focus();
		}
	}
	
	function check_times()
	{
		var els = stat_list.getElementsByClassName("time_col");
		for (var i = 0; i < els.length; i++){
			if (els[i].innerHTML == stat_time.value) {
				alert("This time has already been recorded!");
				stat_time.value = stat_time.children[stat_time.selectedIndex + 1];
				stat_time.focus();
			}
		}
		
	}
	
	function update_total()
	{
		check_vals(stat_scanners, 2);
		check_vals(stat_video, 8);
		check_vals(stat_macs, 30);
		check_vals(stat_sa_short, 30);
		check_vals(stat_sa_long, 50);
		check_vals(stat_gu, 70);
		check_vals(stat_ll, 10);
		check_vals(stat_ref, 38);
		
		
		stat_total.value = parseInt(stat_scanners.value) + parseInt(stat_video.value) +
			parseInt(stat_macs.value) + parseInt(stat_sa_short.value) + parseInt(stat_sa_long.value) + 
			parseInt(stat_gu.value) + parseInt(stat_ll.value) + parseInt(stat_ref.value); 
	}
</script>
</head>
<body>


<!-- TOP BAR -->
<div id="ja-headerwrap"> 
	<div id="ja-header" class="clearfix" style="background: url(https://serafina.labs.is.wccnet.org/templates/commons/images/header/header1.jpg) no-repeat top right;"> 
 
	<div class="ja-headermask">&nbsp;</div> 
 
			<h1 class="logo-text"> 
			<a href="/index.php" title="Computer Commons Staff Site"><span>Serafina - Staff Site</span></a> 
		</h1> 
		<p class="site-slogan">Washtenaw Community College</p> 
	
			<ul class="ja-usertools-font"> 
	      <li><img style="cursor: pointer;" title="Increase font size" src="https://serafina.labs.is.wccnet.org/templates/commons/images/user-increase.png" alt="Increase font size" id="ja-tool-increase" onclick="switchFontSize('commons_ja_font','inc'); return false;" /></li> 
		  <li><img style="cursor: pointer;" title="Default font size" src="https://serafina.labs.is.wccnet.org/templates/commons/images/user-reset.png" alt="Default font size" id="ja-tool-reset" onclick="switchFontSize('commons_ja_font',3); return false;" /></li> 
		  <li><img style="cursor: pointer;" title="Decrease font size" src="https://serafina.labs.is.wccnet.org/templates/commons/images/user-decrease.png" alt="Decrease font size" id="ja-tool-decrease" onclick="switchFontSize('commons_ja_font','dec'); return false;" /></li> 
		</ul> 
		<script type="text/javascript">var CurrentFontSize=parseInt('3');</script> 
		
			<div id="ja-search"> 
			<form action="index.php" method="post"> 
	<div class="search"> 
		<input name="searchword" id="mod_search_searchword" maxlength="20" alt="Search" class="inputbox" type="text" size="20" value="search..."  onblur="if(this.value=='') this.value='search...';" onfocus="if(this.value=='search...') this.value='';" />	</div> 
	<input type="hidden" name="task"   value="search" /> 
	<input type="hidden" name="option" value="com_search" /> 
	<input type="hidden" name="Itemid" value=1 /> 
</form> 
		</div> 
	
	</div> 
</div> 
<!-- END TOP BAR -->

<!-- SIDE BAR -->
<div class="moduletable_menu"> 
					<h3>Main Menu</h3> 
					<ul class="menu"><li id="current" class="active item1"><a href="https://serafina.labs.is.wccnet.org/"><span>Home</span></a></li><li class="item73"><a href="/index.php?option=com_contact&amp;view=category&amp;catid=12&amp;Itemid=73"><span>Contacts</span></a></li><li class="item75"><a href="/index.php?option=com_jpfchat&amp;Itemid=75"><span>Help Chat</span></a></li><li class="item72"><a href="/order.php"><span>Order Supplies</span></a></li></ul>		</div> 
			<div class="moduletable_menu"> 
					<h3>User Menu</h3> 
					<ul class="menu">
						<li class="item77"><a href="http://www.atomiclearning.com/" target="_blank"><span>Atomic Learning</span></a></li>
						<li class="item70"><a href="/index.php?option=com_contact&amp;view=category&amp;catid=0&amp;Itemid=70"><span>Contacts</span></a></li>
						<li class="parent item56"><a href="/index.php?option=com_content&amp;view=article&amp;id=46&amp;Itemid=56"><span>Documents</span></a></li>
						<li class="item58"><a href="/index.php?option=com_kunena&amp;Itemid=58"><span>Forum</span></a></li>
						<li class="item20"><a href="/index.php?option=com_user&amp;view=user&amp;task=edit&amp;Itemid=20"><span>My Details</span></a></li>
						<li class="item53"><a href="/../schedule"><span>Schedule</span></a></li><li class="item57"><a href="/../stats"><span>Statistics</span></a></li>
						<li class="parent item59"><a href="/index.php?option=com_weblinks&amp;view=categories&amp;Itemid=59"><span>Weblinks and Tools</span></a></li>
						<li class="item55"><span class="separator"><span>____________________________</span></span></li>
						<li class="item24"><a href="/index.php?option=com_user&amp;view=login&amp;Itemid=24"><span>Logout</span></a></li></ul>
						</div> 
<!-- END SIDE BAR -->


<!-- MAIN PANEL -->
<p style="color: green" id="notice"><%= flash[:notice] %></p>
<p style="float:right;">Logged in as: <%= current_user %></p>
<%= yield %>
<!-- END MAIN PANEL-->




	<% if (ENV["RAILS_ENV"] == "development") || admin? -%>
      <div id="debug">

        <a href="#" onclick="Element.toggle('params_debug_info');return false;">
            params
          </a> |
        <a href="#" onclick="Element.toggle('session_debug_info');return false;">
          session
        </a> |
        <a href="#" onclick="Element.toggle('env_debug_info');return false;">
          env
        </a> |
        <a href="#" onclick="Element.toggle('request_debug_info');return false;">
          request
        </a> |
        <fieldset id="params_debug_info" class="debug_info">
          <legend>params</legend>
          <%= debug(params) %>
        </fieldset>
        <fieldset id="session_debug_info" class="debug_info" style="display: none;">
          <legend>session</legend>
          <%= debug(session) %>
        </fieldset>
        <fieldset id="env_debug_info" class="debug_info" style="display: none;">
          <legend>env</legend>
          <%= debug(request.env) %>
        </fieldset>
        <fieldset id="request_debug_info" class="debug_info" style="display: none;">
          <legend>request</legend>
          <%= debug(request) %>
        </fieldset>
      </div>
    <% end -%>
</body>
</html>
